venv/
__pycache__/
models/
media/
platform-tools/
models/
OllamaSetup.exe
platform-tools.zip
*.pyc
.env
media/cache/
data/memory.json
data/alarms.json
data/todo.json
.locks/
temp.png
temp_speech.wav
test.xml
bin/
